<!-- <div class="">

    <div class="wallet-container">

        <div *ngFor="let _ of [].constructor(5)" class="wallets">
            <div class="card">
                <div class="rectangle"></div>
                <div>
                    <div class="card-name">Bitcion</div>
                    <!--       <img src="Logo Paypal.svg" alt="" class="card-name"> -->

                    <!-- <div class="amount">$338.34</div>
                    <div class="address">tb1q78gx36lylfp3cxcfkupjfepdvmt7jr0k0r2nn2</div>
                    <div class="siluet-1"></div>
                    <div class="siluet-2"></div>
                    <img src="./Siluet.svg" alt="">
                </div>

            </div>
        </div>

    </div>

    <div class="info">
        <button>transfer</button>
    </div>
</div> -->

<main>
    <div class="wallet-container">
        <div *ngFor="let _ of [].constructor(5)"lass="wallets">
            <div class="card">
                <div class="rectangle"></div>
                <div></div>
                <div class="card-name">Bitcion</div>
                       <img src="Logo Paypal.svg" alt="" class="card-name"> 

               <div class="amount">$338.34</div>
                <div class="address">tb1q78gx36lylfp3cxcfkupjfepdvmt7jr0k0r2nn2</div>
                <div class="siluet-1"></div>
                <div class="siluet-2"></div>
                <img src="./Siluet.svg" alt="">
            </div>
        </div>
    </div>
</main>