<link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

<div class="content">
    <div class="btn-group">
        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Action
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a>
        </div>
      </div>
    <div class="profile-container">
        <div class="headeing">
            <p class="welcome">Welcome back ,  </p>
            <p class="small">Let's do something today 😎</p>
        </div>
        <div class="warning">
            <i class='bx bx-bell'></i>
            <p class="warning-p">You can NOT change your contact detail</p>
        </div>
        <div class="profile-pic">
            <img    alt="loading">
            <input    id="files" type="file" accept="image/png, image/jpeg" class="hidden"  />
            <label for="files">Upload new image</label>
        </div>
      
        <div class="form">
            <div class="form-controls">
                <label  for="">User name</label>
                <input  disabled type="text"></div>
            <div class="form-controls">
                <label for="">Email</label>
                <input  disabled type="text">
            </div>
        </div>
    </div>
</div>