@font-face {
  font-family: "archia";
  src: url("../../assets/archia/archia-regular-webfont.woff2");
  src: url("https://yoursite.com/css/fonts/CustomFont.woff") format("woff"),
  }
  @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
  *{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;

    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    background-color: transparent;

  }



.body-container{

  height: 100%;

}
.content {
  position: relative !important;
  backface-visibility: hidden;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100%;
  z-index: 100;
  -webkit-overflow-scrolling: touch;
}
.container-outside{
  display: table;
  position: relative !important;
  height: 100%;
  opacity: 1;
  width: 100% !important;
  table-layout: fixed;
}
.container-outside .wrap:not(.noSpaces), .container-outside .wrap.spaceWrap, .container-outside .wrap .spaceWrap{
  padding: 120px 5%;


}
.container-outside .wrap {

  text-align: center;
  vertical-align: middle;
  overflow: hidden;
}
.padding-bottom-0 {
  padding-bottom: 0px !important;
}
.padding-top-0 {
  padding-top: 0px !important;
}
.left {
  text-align: left !important;
}



.flex.reverse {
  flex-wrap: wrap-reverse;
}
.flex.fixedSpaces {
  margin-left: -10px;
  margin-right: -10px;
}
.flex {

  display: flex;
  flex-wrap: wrap;
  margin-left: -2%;
  margin-right: -2%;

}
.features-container{
  justify-content: center;
  align-items: center;
}
.features{
  height: 100%;
  padding: 1rem !important;
  text-align: left;
}
.coins{
  display: flex;
  height: 90%;
justify-content: space-evenly;
padding: 20px !important;
}


.purple.button {
  box-shadow: 0px 4px 9px rgba(101, 81, 224, 0.15);
}

.flex.fixedSpaces > [class*='col-'] {
  padding-left: 10px;
  padding-right: 10px;
}
.flex > .col-7-12 {
  width: 58.3333333333%;
}
.flex > [class*='col-'] {
  padding-left: 2%;
  padding-right: 2%;
}
.padding-top-10 {
  padding-top: 100px !important;
}
.margin-bottom-3 {
  margin-bottom: 30px !important;
}
.boldest {
  font-weight: 800 !important;
}
p.large, .p.large {
  font-size: 21px;
  letter-spacing: -0.011em;
}
.margin-bottom-4 {
  margin-bottom: 40px !important;
}
.trim {
  padding: 0 !important;
}
.toLeft {
  margin-left: 0 !important;
  margin-right: auto !important;
}
[class*='fix-'] {
  width: 100% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  float: none;
}
.fix-12-12 {
  max-width: 1180px !important;
}
.absolute {
  position: absolute !important;
}
img {

  max-height: 100% !important;

}
img {
  margin-left: 5%;

  max-width: 100% !important;
  display: inline-block;
}
.center-form{

  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999999;


}
.center-form.hide{
  visibility: hidden;
  opacity: 0;
  display: none;
}

.formOver{

    display: flex;
  z-index: 99999;



}
.over{
opacity: 1;
visibility: visible;
  background-color: rgba(95,115,145,.33);
position:fixed;
top: 0;
bottom: 0;

  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
align-items: center;




}

.grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
  padding-block: 2rem;
  align-items: center;
  width: 100%;
  margin-inline: auto;
  margin-bottom: 3em;
}
.left {

  text-align: left;

}
h3.smaller, .h3.smaller {
  font-size: 19px;
}
.left div {
  padding: 1rem 0 0 0;
}
.right {
  grid-column: span 2;
}

.img-section-one{
  filter: drop-shadow(0 -4px 100px rgba(0,0,0,0.14));

  width: 90% !important;
  margin-left: 1rem;
  position: relative;
}
.img {
  width: 100%;
  height: 100%;
}
.heading {
  /* font-family: 'archia'; */
  margin-bottom: 2rem;
  color: rgb(var(--primary-Gray));
  font-family: 'Inter', sans-serif;
  font-size: 51px;
  font-weight: 800;
  letter-spacing: -0.022em;
  line-height: 1.05;
}

.sub-heading {
  opacity: 0.4;
  font-size: 1.4rem;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
  color: rgb(var(--primary-Gray));
}
.signup-form button {
  box-shadow: 0px 4px 9px rgb(39 174 96 / 15%);
  background-color: #017be5;
  border-radius: 600px;
  color: rgb(var(--primary-White));
  border: none;
  padding: 0.5rem;
  font-size: 1.3rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;

}
.signup-form button:hover {
  background-color: rgba(1, 122, 228, 0.8);
}

.signup-form {
  justify-content: center;
  display: block;
}

.background{
  position:absolute !important;
  top: 190px;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center; 
  background-size: cover;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  opacity: 0.2;
  overflow: hidden;
  z-index: 1;

}

.blue.button:not(.flat):hover {
  box-shadow: 0px 6px 12px rgba(39, 174, 96, 0.2);
}
.blue.button:hover {
  cursor: pointer;
  background-color: #71a4fb !important;
}

/* section 2 */
.section-two {
  margin: 0;
}
table {
  width: 100% !important;
  grid-column: span 4;
}

table tr {
  font-size: 1.4rem;
  vertical-align: middle;
  height: 90px;
}
.blue.button:not(.flat) {
  box-shadow: 0px 14px 12px rgba(3, 63, 133, 0.15);
}
.button, button {
  padding: 13px 20px;
}
.rounded {
  border-radius: 8px !important;
}
.blue {
  color: #fff !important;
  background-color: #2783ae !important;
}

.bitcoin::before {
  content: "";
  width: 40px;
  height: 40px;
  top: 0;
  left: 0%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transform: translate(-50%, 35%);
  transform: translate(-50%, 35%);
  background-size: cover;
  display: inline-flex;
  background-image: url("../../assets/bitcoin.png");
}
.ethereum::before {
  content: "";
  width: 40px;
  height: 40px;
  top: 0;
  left: 0%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transform: translate(-50%, 35%);
  transform: translate(-50%, 35%);
  background-size: cover;
  display: inline-flex;
  background-image: url("../../assets/ethereum.png");
}
.ripple::before {
  content: "";
  width: 40px;
  height: 40px;
  top: 0;
  left: 0%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transform: translate(-50%, 35%);
  transform: translate(-50%, 35%);
  background-size: cover;
  display: inline-flex;
  background-image: url("../../assets/ripple.png");
}
.section-two {
  padding-left: 1rem;
  padding-right: 1rem;
}
table {
  grid-column: span 4;
}
table tr {
  font-size: 1rem;
}

@media (max-width: 45em) {
  .right {

    grid-column: span 4;
  }
  .left {
    order: 1;
    grid-column: span 4;
  }
  .signup-form input {
    width: 100%;
  }
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  padding: 11px 0 34px;
  background-image: linear-gradient(180deg,#f5f4f4 37.39%,rgba(245,244,244,.78) 61.42%,rgba(245,244,244,0));
  margin-bottom: -23px;
}

.Header {

  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  padding: 11px 0 34px;
  background-image: linear-gradient(180deg,#f5f4f4 37.39%,rgba(245,244,244,.78) 61.42%,rgba(245,244,244,0));
  margin-bottom: -23px;
}
li {
  display: list-item;
  text-align: match-parent;
}
ol, ul {
  list-style: none;
}
.SandwichMenu__menu-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  overflow: hidden;
  transition: height .3s,width .3s;
  width: 42%;
  visibility: hidden;
  transition: visibility 0s .3s;
}
header {
  position: fixed;
  margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    box-sizing: border-box;
width: 100%;
display: block;
  top: 0;
  left: 0;
  z-index: 5;
  padding: 11px 0 34px;
  background-image: linear-gradient(180deg,#f5f4f4 37.39%,rgba(245,244,244,.78) 61.42%,rgba(245,244,244,0));
  margin-bottom: -23px;
}
.content {
  overflow: hidden;
  position: absolute;
  backface-visibility: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  -webkit-overflow-scrolling: touch;
}
.text-blue {
  color: #2783ae !important;
}
.description-dropdown-trigger {
  display: inline-block;
  width: 18px;
  height: 18px;
  line-height: 110px;
  font-size: 0px;
  background: #2783ae;
  text-align: center;
  flex-shrink: 0 !important;
  cursor: pointer;
  position: relative;
  transition: 0.25s;
  border-radius: 50%;
}
.description-dropdown-trigger:after {
  content: "?";
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  line-height: 18px;
  width: 18px;
  text-align: center;
  text-indent: -0.1em;
  transition: 0.25s;
}
.dropdownTrigger[data-dropdown-id="description-dropdown"] {
  transition: 0.25s;
}
.dropdown {
  position: absolute;
  top: 406px;
  left: 201px;
}
.dropdown {


  z-index: 300;
  color: #1f2b24;
  width: 160px;
  background: #fff;
  box-shadow: 0 6px 11px 0 rgba(0, 0, 0, 0.15), 0 14px 28px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.05);
  margin-bottom: 50px;
  border-radius: 8px;
  text-align: center;
  cursor: default;
  transform: translateY(0) scale(0.9);
  transform-origin: top;
  transition: transform 0.35s, opacity 0.35s, box-shadow 0.35s;
}

.dropdown.customDropdown {
  background: #6551E0;
  box-shadow: 12px 30px 60px rgba(110, 87, 217, 0.39);
  width: 460px;
  margin-left: -18px !important;
  margin-top: -6px !important;
  max-width: calc(100vw - 40px);
}
.dropdown.customDropdown {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background: rgba(70, 47, 214, 0.82);
}

.padding-left-3 {
  padding-left: 30px !important;
}
.padding-right-3 {
  padding-right: 30px !important;
}
.padding-2 {
  padding: 20px !important;
}
.crop {
  margin: 0 !important;
}

  @media (min-width: 992px){
    .col-lg-2 {
    flex: 0 0 auto;
    width: 16.66667%;
    }
    .col-lg-1 {
      flex: 0 0 auto;
      width: 8.33333%;
    }
}

.row {
  --bs-gutter-x: 2.56vw;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y)*-1);
  margin-right: calc(var(--bs-gutter-x)/-2);
  margin-left: calc(var(--bs-gutter-x)/-2);
}
.Button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 12px 0;
  font-weight: 700;
  line-height: 100%;
  background: linear-gradient(145.8deg,#00a8ed 5.35%,#005ade 115.95%);
  border-radius: 600px;
  border: 0;
  outline: none;
  cursor: pointer;
  transition: box-shadow .3s;
  }
  .Button_gray {
    color: #413e52;
    background: #e2e4ea;
    transition: color .3s,background-color .3s,border-color .3s;
    border: 1px solid transparent;
}
.Button_gray:hover {
  color: #017be5;
  border-color: #017be5;
  background-color: #fff;
}
.Button__text {
  position: relative;
}

.align-items-center {
    align-items: center;
}
.sandwich__line {
  width: 100%;
  height: 4px;
  background: #5f7391;
  border-radius: 999px;
  transition: all .3s;
  }
  .SandwichMenu .sandwich__line {
    width: 100%;
    height: 4px;
    background: #5f7391;
    border-radius: 999px;
    transition: all .3s;
}
.sandwich:hover .sandwich__line {
  background: #017be5;
}

.SandwichMenu .sandwich__line_middle {
  margin: 8px 0;
  width: calc(100% - 12px);
}
.Ssandwich:hover .sandwich__line_middle {
 
  width: 100%;
}
.SandwichMenu .sandwich {
  position: relative;
  z-index: 2;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  cursor: pointer;
}
.sandwich-menu__link {
  margin-bottom: 32px;
  font-weight: 700;
  text-align: left;
  line-height: 120%;
  color: #a9b3c1;
  transition: color .3s;
  font-size: 36px;
}
.SandwichMenu .sandwich_opened .sandwich__line_top {
  transform: rotate(45deg);
}
.SandwichMenu .sandwich_opened .sandwich__line_middle {
  height: 0;
  margin: 0;
  opacity: 0;
}
.SandwichMenu .sandwich_opened .sandwich__line_bottom {
  margin-top: -4px;
  transform: rotate(-45deg);
}
.sandwich-menu__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(95,115,145,.33);
  opacity: 0;
  visibility: hidden;
  transition: visibility .3s .3s,opacity .3s;
}
.SandwichMenu__menu-wrapper.enter-active .sandwich-menu, .SandwichMenu__menu-wrapper.enter-done .sandwich-menu {
  visibility: visible;
  transition: visibility 0s;
}
.SandwichMenu__menu-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  overflow: hidden;
  transition: height .3s,width .3s;
  width: 42%;
  visibility: hidden;
  transition: visibility 0s .3s;
}
.sandwich-menu__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 16.39%;
  padding-right: 55.29%;
  transition: opacity .3s,transform .3s;
  background-color: #fff;
  transform: translateX(100%);
  opacity: 1;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.sandwich-menu__link .active {
  color: #1a2b47;
}
a {
  color: inherit;
  text-decoration: none;
}
.SandwichMenu__menu-wrapper.enter-active .sandwich-menu__inner, .SandwichMenu__menu-wrapper.enter-done .sandwich-menu__inner {
  transform: translateX(0);
}

.scroll-downs {

  position: fixed;
display: flex;
flex-direction: column;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  width :100px;
  height: 100px;
}
.scroll-downs .text{
  opacity: 0.75;
}
.mousey {
  margin-bottom: 10px;
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #000;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #000;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}


.coins a {
  margin: 50px !important;
}


h1.largest, .h1.largest {
  font-size: 60px;
}
.flex > .col-5-12 {

  width: 41.6666666667%;
}

@media (max-width: 435px){
  .flex > [class*='col-'] {
      width: 100%;
  }
  
}
@media (min-width: 436px){
  h1.largest, .h1.largest {
    font-size: 51px;
  }
  h1.largest, .h1.largest {
    font-size: 51px;
  }
  h1, .h1 {
    font-size: 42px; 
  }
  h1.largest, .h1.largest {
      font-size: 51px; 
    }
}

h1, .h1 {
  font-size: 33px;
  letter-spacing: -0.022em; 
  }
  h1.largest, .h1.largest {
    font-size: 42px; 
  }


@media (max-width: 767px){
  
  .padding-top-phablet-3 {
    padding-top: 30px !important;
  }
  .padding-top-phablet-0 {
    padding-top: 0px !important;
  }
  .flex > .col-phablet-1-1 {
    width: 100% !important;

  }
  .padding-10{
    padding: 3rem !important;
  }

  .container-outside .wrap:not(.noSpaces), .container-outside .wrap.spaceWrap, .container-outside .wrap .spaceWrap{
    padding: 0px 5%;
  
  
  }
  img{
transform: scale(1.2);
margin-right: 20px;
  }
}
@media (max-width: 768px){
.p-phablet-relative {
    position: relative !important;
}
}

h3{
  font-family: 'Inter', sans-serif;

  font-weight: bold;
}

.slide{
  display: flex;
}
.wallets{
  margin: 1rem;
}




@media (min-width: 1024px) {
    h1, .h1 {
      font-size: 51px; 
    }
      h1.largest, .h1.largest {
        font-size: 60px; 
      }
  }

@media (min-width: 1240px) {
  h3.smaller, .h3.smaller {
    font-size: 29.02px;
  }
  h2.large, .h2.large {
    font-size: 51.98px;
}
    h1, .h1 {
      font-size: 57px; 
    }
      h1.largest, .h1.largest {
        font-size: 75px;
      }
}
