<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
 
</head>
   <main>
     <div  class="over-form over">
    <app-login class="FormOver" *ngIf="login"></app-login>
    <app-get-started class="FormOver" ></app-get-started>
     </div>

     

    <div class="scroll-downs">
      <div class="mousey">
        
        <div class="scroller"></div>
      </div>
      <div class="text">Scroll down</div>
    </div>
        <section class="grid section section-one">
          <div class="right">
            <img class="img-section-one img" src="../assets/home.png" alt="crypto">
        </div>
            <div class="left">
                <div class="heading" >World's best crypto trading app</div>
                <div class="sub-heading"> start trading now
                </div>
                <div class="signup-form">
                    <input for="email" type="email" placeholder="Enter your email" formControlName="email"  >
                    <button  (click)="showOverForm(1)"  type="submit"> sign up </button>
                </div>

            </div>
           

            
      
        </section>
        <!--section 2-->
        <section class="grid section section-two">
            <table class="table">
                
                <tbody >
                  <tr>
                    <th scope="row"></th>
                    <td class="bitcoin ">Bitcoin</td>
                    <td></td>
                    <td>{{coin1 | number}} $</td>
                  </tr>
                  <tr>
                    <th scope="row" ></th>
                    <td class="ethereum">ethereum</td>
                    <td></td>
                    <td>{{coin2 | number}} $</td>
                  </tr>
                  <tr>
                    <th scope="row" ></th>
                    <td class="ripple">Ripple</td>
                    <td></td>
                    <td>{{coin3 | number}} $</td>
                    
                  </tr>
                </tbody>
              </table>
             
        </section>
        
    </main>
</html> 
