
 <nav class="panel top main-nav padding-top-3 padding-bottom-3 relative">
    <div class="sections desktop fix-12-12">
        <div class="left">
            <a href="https://opencoin.shop" class="logo vertical-top">
<img src="../../assets/logo.png" width="120"  alt="">
            </a>
            <a href="#features" class="weight-7 p smallest link uppercase shift-down-3 vertical-middle margin-left-2 hideForPhablet">features</a>
            <a href="#About" class="weight-7 p smallest link uppercase shift-down-3 vertical-middle margin-left-2 hideForPhablet">About</a>
        </div>

        <div class="right">
            <a *ngIf="!auth.loggedIn" href="/signup" class="weight-7 button small pale uppercase green rounded flat noShadow margin-right-3">sign up →</a>
            <a *ngIf="!auth.loggedIn" (click)="showAuthForm('login')" class="weight-7 link p smallest uppercase crop" href="/login">Log in</a>
            <a *ngIf="auth.loggedIn" (click)="auth.logout()" class="weight-7 link p smallest uppercase crop">Log out</a>
        </div>
    </div>
</nav>