/* header {
  overflow-x: hidden;
  margin: 0;
}
.flex {
  display: flex;
  gap: 1rem;
}
.logo {
  width: 15%;
  height: 90px;
  margin-left: 1rem;
  background: url("../../assets/logo-with-text.png") no-repeat center;
  background-size: contain;
}
.primary-header {
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(228, 228, 228);
}
.mobile-nav-toggle {
  display: none;
}
.primary-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  background: hsl(0, 0%, 100%/0.1);
  backdrop-filter: blur(1rem);
  align-items: center;
}
.primary-navigation a {
  text-decoration: none;
  font-size: 1.1rem;
}

.primary-navigation a > span {
  font-weight: 500;
  color: var(--primary-White);
  margin-inline-end: 0.75em;
}
.primary-navigation a > span:hover {
  color: var(--primary-Teal);
}

.buttonsDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttonsDiv button {
  font-size: 1.1rem;
  margin-inline-end: 0.75em;
  font-weight: 500 !important;
  border-radius: 0.4rem;
  border: none;
  padding: 0.9rem;
  color: var(--primary-White);
  background: transparent;
}
.singup {
  background: var(--primary-Teal) !important;
  padding-inline-end: 1.5rem !important;
  padding-inline-start: 1.5rem !important;
}

.login {
  color: var(--primary-Black);
  width: 6rem;
}
.mobile-nav-toggle[aria-expanded="true"] {
  display: block;
  position: absolute;
  background: url("../../assets/Hamburger_icon_closed.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 2rem;
  aspect-ratio: 1;
  z-index: 999999;
  top: 2rem;
  right: 2rem;
  transition: 150ms ease-out;
}
@media (max-width: 45em) {
  .log {
    border: 20px solid red !important;
    width: 100%;
    height: 190px;
  }
  .primary-navigation {
    z-index: 1000;
    flex-direction: column;
    padding: min(30vh, 10rem) 2rem;
    position: fixed;
    align-items: center;
    font-size: 3rem;
    inset: 0 0 0 30%;
    transform: translateX(100%);
    transition: 350ms ease-in-out;
  }
  .primary-navigation[data-visible="true"] {
    transform: translateX(0%);
  }

  .primary-navigation a > span {
    font-size: 25px;
    padding: 1rem;
    min-width: 30%;
    color: rgb(var(--primary-Black));
  }

  .buttonsDiv {
    position: absolute;
    bottom: 10%;
    height: 9rem;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    flex-direction: column;
  }
  .button {
    line-height: 0px;
    box-sizing: border-box;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    width: 14rem;
    height: 3rem;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
  }
  .login {
    border: 2px solid rgb(var(--primary-Teal)) !important;
    background: transparent;
    color: rgb(var(--primary-Black)) !important;
  }
  .singup {
    background: rgb(var(--primary-Teal)) !important;
    color: rgb(var(--primary-White)) !important;
  }
  .button:hover {
    border: none;
    background: rgb(var(--primary-Teal)) !important;
    color: rgb(var(--primary-White)) !important;
  }
  .singup:hover {
    background: transparent !important;
    color: rgb(var(--primary-Black)) !important;
    width: 15.4rem !important;
    height: 3.4rem !important;
  }
  .mobile-nav-toggle {
    display: block;
    position: absolute;
    background: url("../../assets/Hamburger_icon.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: 0;
    width: 2rem;
    aspect-ratio: 1;
    z-index: 999999;
    top: 2rem;
    right: 2rem;
    transition: 150ms ease-out;
  }

  .logo {
    width: 50%;
    background-size: contain;
  }
} */
*{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
.Header__logo{
  display: block;
  width: 100%;
  height: auto;}
.Header {

  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  padding: 11px 0 34px;
  background-image: linear-gradient(180deg,#f5f4f4 37.39%,rgba(245,244,244,.78) 61.42%,rgba(245,244,244,0));
  margin-bottom: -23px;
}
li {
  display: list-item;
  text-align: match-parent;
}
ol, ul {
  list-style: none;
}
.SandwichMenu__menu-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  overflow: hidden;
  transition: height .3s,width .3s;
  width: 42%;
  visibility: hidden;
  transition: visibility 0s .3s;
}
header {
  position: fixed;
  margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    box-sizing: border-box;
width: 100%;
display: block;
  top: 0;
  left: 0;
  z-index: 5;
  padding: 11px 0 34px;
  background-image: linear-gradient(180deg,#f5f4f4 37.39%,rgba(245,244,244,.78) 61.42%,rgba(245,244,244,0));
  margin-bottom: -23px;
}
.content {
  margin: 0 9.37%;
}
[class*=col-] {
  position: relative;
  }
  @media (min-width: 992px){
.col-lg-2 {
flex: 0 0 auto;
width: 16.66667%;
}
.col-lg-1 {
  flex: 0 0 auto;
  width: 8.33333%;
}
}


.row {
  --bs-gutter-x: 2.56vw;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y)*-1);
  margin-right: calc(var(--bs-gutter-x)/-2);
  margin-left: calc(var(--bs-gutter-x)/-2);
}
.Button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 12px 0;
  font-weight: 700;
  line-height: 100%;
  background: linear-gradient(145.8deg,#00a8ed 5.35%,#005ade 115.95%);
  border-radius: 600px;
  border: 0;
  outline: none;
  cursor: pointer;
  transition: box-shadow .3s;
  }
  .Button_gray {
    color: #413e52;
    background: #e2e4ea;
    transition: color .3s,background-color .3s,border-color .3s;
    border: 1px solid transparent;
}
.Button_gray:hover {
  color: #017be5;
  border-color: #017be5;
  background-color: #fff;
}
.Button__text {
  position: relative;
}

.align-items-center {
    align-items: center;
}
.sandwich__line {
  width: 100%;
  height: 4px;
  background: #5f7391;
  border-radius: 999px;
  transition: all .3s;
  }
  .SandwichMenu .sandwich__line {
    width: 100%;
    height: 4px;
    background: #5f7391;
    border-radius: 999px;
    transition: all .3s;
}
.sandwich:hover .sandwich__line {
  background: #017be5;
}

.SandwichMenu .sandwich__line_middle {
  margin: 8px 0;
  width: calc(100% - 12px);
}
.Ssandwich:hover .sandwich__line_middle {
 
  width: 100%;
}
.SandwichMenu .sandwich {
  position: relative;
  z-index: 2;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  cursor: pointer;
}
.sandwich-menu__link {
  margin-bottom: 32px;
  font-weight: 700;
  text-align: left;
  line-height: 120%;
  color: #a9b3c1;
  transition: color .3s;
  font-size: 36px;
}
.SandwichMenu .sandwich_opened .sandwich__line_top {
  transform: rotate(45deg);
}
.SandwichMenu .sandwich_opened .sandwich__line_middle {
  height: 0;
  margin: 0;
  opacity: 0;
}
.SandwichMenu .sandwich_opened .sandwich__line_bottom {
  margin-top: -4px;
  transform: rotate(-45deg);
}
.sandwich-menu__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(95,115,145,.33);
  opacity: 0;
  visibility: hidden;
  transition: visibility .3s .3s,opacity .3s;
}
.SandwichMenu__menu-wrapper.enter-active .sandwich-menu, .SandwichMenu__menu-wrapper.enter-done .sandwich-menu {
  visibility: visible;
  transition: visibility 0s;
}
.SandwichMenu__menu-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  overflow: hidden;
  transition: height .3s,width .3s;
  width: 42%;
  visibility: hidden;
  transition: visibility 0s .3s;
}
.sandwich-menu__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 16.39%;
  padding-right: 55.29%;
  transition: opacity .3s,transform .3s;
  background-color: #fff;
  transform: translateX(100%);
  opacity: 1;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.sandwich-menu__link .active {
  color: #1a2b47;
}
a {
  color: inherit;
  text-decoration: none;
}
.SandwichMenu__menu-wrapper.enter-active .sandwich-menu__inner, .SandwichMenu__menu-wrapper.enter-done .sandwich-menu__inner {
  transform: translateX(0);
}
.login{
width: 40%;
  border-color: #017be5;
  background-color: #fff;
}
.offset-4 {
    margin-left: 55%;

  }