
   


<div class="content">

    <div class="row h-100 m-0">
        <div class="g-signin2" data-onsuccess="onSignIn"></div>


        <div class="d-none d-lg-block col-lg-5 col-xl-4 h-100"
            style="background-color: #d4e0f5 !important; background-size: 30% !important; background: url('../../assets/vault-open.svg') center no-repeat;">

            <div class="p-5 text-center">
                <a href="/">
                    <img src="../../assets/logo.png" width="220px" height="120px" alt="opencoin.shop">
                </a>
            </div>
        </div>

        <div class="col-md-6 offset-md-3 col-lg-7 offset-lg-0 col-xl-8 p-0 d-flex align-items-center">
            <div class="m-auto p-5 col-lg-10 col-xl-6" style="max-width: 500px">
                <div class="py-4 d-block d-lg-none">
                    <a href="/">
                        <img src="../../assets/logo.png" alt="opencoin.shop">
                    </a>
                </div>


                <h5 class="mb-4">Sign in to openshop</h5>


              

                <form action="/user/ajax/login" method="post" id="login-form" class="needs-validation" novalidate=""
                    data-submit="ajax" data-loading-title="Logging in..." data-success="redirect"
                  >
                    

                    <div class="form-group mb-4">
                        <label for="login_email">E-mail or username</label>
                        <input tabindex="1" type="text" [formControl]="email" name="username" class="form-control" id="login_email"
                            required="" autofocus="">
                            <div *ngIf="!form.controls['email'].valid && 
                            form.controls['email']?.touched" class="invalid-feedback">
                                Please enter valid e-mail address
                            </div>
                    </div>

                    <div class="form-group mb-4">
                        <label for="login_password">Password</label>
                        <a tabindex="3" class="float-right text-muted" routerLink="/reset">Lost your
                            password?</a>
                        <input tabindex="2" [formControl]="password" type="password" name="password" class="form-control" id="login_password"
                            required="">
                            <div *ngIf="!form.controls['password'].valid && 
                            form.controls['password']?.touched" class="invalid-feedback">
                                Please enter valid e-mail address
                            </div>
                            <div class="invalid-feedback">
                                {{message}}
                            </div>
                    </div>

                 



                    <button [disabled]="!form.valid" type="submit" (click)="login()" class="btn btn-block btn-primary py-3" tabindex="2">Sign in →</button>
                </form>

                <div class="pt-4 text-center text-muted">
                    Not a member? <a class="" tabindex="3" href="/signup">Sign up now</a>
                </div>

            </div>
        </div>
    </div>
</div>
