/* .container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  overflow: hidden;
  display: flex;
  margin: 0;
    padding: 0;
}
.containerHeading {
  font-size: 4rem;
  font-weight: 500;

}

.error {
  padding: 0.3rem;
  margin: 1rem;
  width: 100%;
  color: rgb(168, 0, 50);
  font-family: "Courier New", Courier, monospace;
}
.right {

  justify-content: center;
  align-items: center;
}


.inputs {
  width: 80%;
}
.inputs > input,
button {
  margin: 0;
  padding: 0.3rem;
  margin: 1rem;
  width: 100%;
}

button {
  font-size: 1.4rem;
  line-height: normal;
  border-radius: var(--primary-border-radius);
  color: rgb(var(--primary-White));
  border: none;
  background-color: rgb(var(--primary-Teal));
  width: 80%;
  height: 4rem !important;
}
.inputs > input {
  border: 2.4px solid rgba(var(--primary-Teal));
  border-radius: var(--primary-border-radius);
  text-indent: 1rem;
  height: 4rem !important;
  font-size: 1.1rem;
}
.inputs > strong {
  margin: 1rem;
  padding: 0.3rem;
}
.heading {
  font-size: 3rem;
}
.terms {
  font-size: 1.1rem;
  width: 80%;
  padding: 0.3rem;
  margin: 1rem;
}

.checkbox {
  height: 1rem;
  width: 1rem;
  margin-right: 1rem;
}

.sub-heading {
  font-size: 1.2rem;
  text-decoration: underline;
  color: rgb(var(--primary-Teal));
}

@media (max-width: 45em) {
  .container {
    margin: 0;
    padding-top: 2rem;
    justify-content: center;
    align-items: center;
    display: block;
  }
  .right {
    width: 100%;
    grid-column: span 2;
  }

  .left {
    visibility: hidden;
  }
} */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input, select, button, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: inherit;
  outline: none;
  letter-spacing: inherit;
  text-decoration: none;
  cursor: inherit;
}
div {
  display: block;
}
.auth_iframe_app_view--authViewWrapper--30Nza {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  margin: 0;
}
.auth_iframe_app_view--authViewCenter--3mYPa {
  padding: 36px 10px;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
  background: white;
  position: absolute;
}
.auth_modal--closeButton--2fwZS {
  position: absolute;
  top: 8px;
  right: 8px;
}
.auth_form--modal--2C3yg {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100vw;
  padding: 36px;
  font-size: 16px;
  min-height: 120px;
  -webkit-font-smoothing: antialiased;
}
.auth_form--form--xKnbM {
  padding: 0 32px;
}
.auth_view--centerText--21TLX {
  text-align: center;
}
.auth_form--error--2I51G {
  margin-bottom: 16px;
  color: #f24822;
  font-size: 16px;
  text-align: left;
}
.close_button--closeX--2ttg_ {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  flex: 0 0 32px;
  line-height: 32px;
  cursor: default;
  fill: var(--color-icon, #000);
  color: var(--color-icon, #000);
  border-radius: 2px;
  background-clip: padding-box;
  background-color: transparent;
}
.close_button--closeX--2ttg_:hover {
  background: var(--color-bg-hover, rgba(0, 0, 0, .06));
  border-radius: 3px;
}
.auth_branding--brand--3FsKf button {
  transition: transform .2s;
  transform: translate(0);
}
.landing_form--hollowButton--KiHL5 {
  color: #000;
  border: 3px solid #000;
  border-radius: 8px;
  background-color: #fff;
  font-size: 16px;
}
.auth_view--brandButton--6mVyN {
  background-color: var(--color-bg-inverse, #000);
  border-color: var(--color-bg-inverse, #000);
  color: var(--color-text-oninverse, #fff);
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.auth_view--brandButtonBase--2XVjM {
  box-sizing: border-box;
  height: 48px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  border-radius: 8px;
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
}
.landing_form--googleButtonInner--3RQWE {
  display: flex;
  align-items: center;
  justify-content: center;
}
.landing_form--hollowButton--KiHL5 {
  color: #000;
  border: 3px solid #000;
  border-radius: 8px;
  background-color: #fff;
  font-size: 16px;
}
.auth_view--brandButton--6mVyN {
  background-color: var(--color-bg-inverse, #000);
  border-color: var(--color-bg-inverse, #000);
  color: var(--color-text-oninverse, #fff);
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.auth_view--brandButtonBase--2XVjM {
  box-sizing: border-box;
  height: 48px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  border-radius: 8px;
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
}
.landing_form--googleIcon--3Q7rS {
  width: 18px;
  height: 18px;
  display: inline-block;
  margin-right: 12px;
}
svg {
  display: block;
  width: 18;
  height: 18;
}

svg:not(:root) {
  overflow: hidden;
}
.landing_form--googleText--3r2h6 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sign_in_and_up--orBlock--3kqvy {
  display: block;
  height: 60px;
  width: 100%;
  font-size: 16px;
  line-height: 60px;
  color: #666;
}
.form_inputs--input--r-7Uo {
  border: 3px solid var(--color-border-strong, #000);
  border-radius: 5px;
  height: 50px;
  line-height: normal;
}
.form_inputs--input--r-7Uo {
  color: var(--color-text, #282828);
  display: block;
  width: 100%;
  padding-left: 12px;
  box-sizing: border-box;
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
  font-size: 16px;
}
.auth_view--footer--2y326 {
  width: 100%;
}
.auth_view--footerButtonRow--1r5Q6 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sign_in_and_up--footerButtonRow--1L1a9 a {
  font-size: 12px;
}
.sign_in_and_up--switchFormLink--uuDAF {
  margin-left: 4px;
}
.sign_in_and_up--footerRow--pB9-z a {
  font-size: 12px;
}
.sign_in_and_up--switchFormText--aon-9 {
  font-size: 16px;
}
.sign_in_and_up--termsAndRecaptchaWrapper--1aZV0 {
  display: inline;
}
.auth_view--footerText--1PPnJ {
  color: #0009;
  font-size: 16px;
}
.recaptcha--recaptchaText--3ATGk {
  font-size: 12px;
}
.sign_in_and_up--termsAndRecaptchaWrapper--1aZV0 a {
  text-decoration: none;
}
.auth_branding--brand--3FsKf a {
  font-size: 16px;
  cursor: pointer;
  color: #5551ff;
}