<app-nav></app-nav>

<main>

    <section class="grid section-one">
        <div class="left">
            <div class="heading">About us</div>
            <div class="sub-heading">Ut do nisi aliquip proident exercitation cillum sint consectetur eiusmod sit Lorem.
                Ex incididunt irure commodo aute amet. In anim Lorem in consequat culpa exercitation deserunt veniam
                consectetur dolore est reprehenderit nisi qui. Occaecat duis cupidatat excepteur sit.</div>
        </div>
        <div class="right">
            <img class="img-section-one img" src="../../assets/about.png" alt="crypto">
        </div>


    </section>


    <section class="grid section-tow">
        <div class="contact-us ">
            <p class="heading">Contact us </p>
            <form class="form-grid">
            <div class="inputs">
                <input type="text" placeholder="name">
            </div>
            <div class="inputs"  >
                <input type="text" placeholder="subject">
            </div>
            <div class="inputs">
                <input type="email" placeholder="email">
            </div>
            <textarea id="subject" name="subject" placeholder="Write something.." class="textarea" ></textarea>
        </form>
        </div>
    </section>


</main>