main {
  padding: 10rem;

  margin: 0 2.5rem 0 2.5rem;
  height: 100%;
}
.grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
  padding-block: 2rem;
  align-items: center;
  width: 100%;
  margin-inline: auto;
  margin-bottom: 3em;
}
.left {
  align-items: center;
  justify-content: center;
  grid-column: span 2;
}
.left div {
  padding: 1rem 0 0 0;
}
.right {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  grid-column: span 2;
}
.img {
  background: url("../../assets/about.png");
  width: 100%;
  height: 100%;
}
.heading {
  font-size: 4rem;
  line-height: 4rem;
  color: rgb(var(--primary-Gray));
}
.sub-heading {
  font-size: 1rem;
  font-weight: 400;
  color: rgb(var(--primary-Gray));
}
.contact-us {
  grid-column: span 4;
}
.inputs {
  width: 100%;
  padding-bottom: 0.9rem;
}
.inputs > input,
textarea {
  border: 2px solid rgba(var(--primary-Teal), 0.4);
  width: 100%;
  padding: 0.9rem;
  font-size: 1rem;
  border-radius: var(--primary-border-radius);
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 2rem;
  padding-block: 2rem;
  width: 100%;
  margin-inline: auto;
  margin-bottom: 3em;
}
.textarea {
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 4;
}

@media (max-width: 45em) {
  main {
    padding: 0;
  }
  .right {
    grid-column: span 4;
    order: 1;
  }
  .left {
    order: 2;
    grid-column: span 4;
  }
  .inputs {
    width: 100%;
    padding-bottom: 0.9rem;
  }
  .inputs > input,
  textarea {
    border: 2px solid rgba(var(--primary-Teal), 0.4);
    width: 100%;
    padding: 0.9rem;
    font-size: 1rem;
    border-radius: var(--primary-border-radius);
  }
  .form-grid {
    display: block;
  }
}
