<!-- 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title> -->
<!-- this is for google sign in -->
<!-- <meta name="google-signin-client_id" content="438403372581-58vqtpoepm0ui9987v8oktiehr88iiep.apps.googleusercontent.com"> -->
<!-- </head>
<body> -->





<div class="content">

    <div class="row h-100 m-0">
        <div class="g-signin2" data-onsuccess="onSignIn"></div>


        <div class="d-none d-lg-block col-lg-5 col-xl-4 h-100"
            style="background-color: #d4e0f5 !important; background-size: 30% !important; background: url('../../assets/vault-open.svg') center no-repeat;">

            <div class="p-5 text-center">
                <a href="/">
                    <img src="../../assets/logo.png" width="220px" height="120px" alt="opencoin.shop">
                </a>
            </div>
        </div>

        <div class="col-md-6 offset-md-3 col-lg-7 offset-lg-0 col-xl-8 p-0 d-flex align-items-center">
            <div class="m-auto p-5 col-lg-10 col-xl-6" style="max-width: 500px">
                <div class="py-4 d-block d-lg-none">
                    <a href="/">
                        <img src="../../assets/logo.png" alt="opencoin.shop">
                    </a>
                </div>


                <h5 class="mb-4">Reset your password </h5>




                <form action="/user/ajax/login" method="post" id="login-form" class="needs-validation" novalidate=""
                    data-submit="ajax" data-loading-title="Logging in..." data-success="redirect">


                    <div  *ngIf="!codeCorrect && !correct" class="form-group mb-4">
                        <label for="login_email">E-mail</label>
                        <input tabindex="1" type="text" [formControl]="email" name="username" class="form-control"
                            id="login_email" required="" autofocus="">
                        <div *ngIf="!form.controls['email'].valid && 
                        form.controls['email']?.touched" class="invalid-feedback">
                            Please enter e-mail address
                        </div>
                    </div>
                    <div *ngIf="!codeCorrect && correct" class="form-group mb-4">
                        <label for="code">Code</label>
                        <input tabindex="1" type="text" [formControl]="code" name="username" class="form-control"
                            id="code" required="" autofocus="">
                        <div *ngIf="!form.controls['code'].valid && 
                        form.controls['code']?.touched" class="invalid-feedback">
                            Please enter email address
                        </div>
                    </div>
                    <div *ngIf="codeCorrect" class="form-group mb-4">
                        <label for="code">New password</label>
                        <input tabindex="1" type="password" [formControl]="newPass" name="username" class="form-control"
                            id="code" required="" autofocus="">
                        <div *ngIf="!form.controls['newPass'].valid && 
                        form.controls['newPass']?.touched" class="invalid-feedback">
                            Please enter new password
                        </div>
                    </div>

                    <div *ngIf="codeCorrect" class="form-group mb-4">
                        <label for="confirmNewPass">Confirm new password</label>
                        <input tabindex="1" type="password" [formControl]="confirmNewPass" name="confirmNewPass" class="form-control"
                            id="confirmNewPass" required="" autofocus="">
                        <div *ngIf="!form.controls['confirmNewPass'].valid && 
                        form.controls['confirmNewPass']?.touched" class="invalid-feedback">
                            Please enter email address
                        </div>
                    </div>
                    


                    <div class="invalid-feedback">
                        {{mess}}
                    </div>
                    <button [disabled]="!form.controls['email'].valid" *ngIf="!correct" type="submit" (click)="checkemail()" class="btn btn-block btn-primary py-3"
                        tabindex="2">Send code</button>
                    <button [disabled]="!form.controls['code'].valid" *ngIf="correct && !codeCorrect" type="submit" (click)="reset()" class="btn btn-block btn-primary py-3"
                        tabindex="2">Reset</button>
                    <button [disabled]="(!form.controls['newPass'].valid && !form.controls['confirmNewPass'].valid) || (form.controls['confirmNewPass'].value !== form.controls['newPass'].value) " *ngIf="codeCorrect" type="submit" (click)="confirmReset()" class="btn btn-block btn-primary py-3"
                        tabindex="2">Confirm</button>
                </form>

                <div  class="pt-4 text-center text-muted">
                    have an account? <a class="" tabindex="3" routerLink="/login">log in now</a>
                </div>

            </div>
        </div>
    </div>
</div>